<%- include('../partials/header.ejs') %>
    <%- include('../partials/navbarAdmin.ejs');%>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <a href="/admin/provider" class='fas fa-warehouse btn btn-dark p-3 border border-dark rounded' style='font-size:6.5rem;'></a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <a href="/admin/category" class="far fa-bookmark btn btn-dark p-3 border border-dark rounded" style='font-size:8rem;'></a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <a href="/admin/info" class="fas fa-address-card btn btn-dark p-3 border border-dark rounded" style='font-size:8rem;'></a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <a class='btn btn-dark fas fa-box p-3 border border-dark rounded' style='font-size:8rem;'></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 border">col-8</div>
                    <div class="col-6 border">col-4</div>
                </div>
            </div>
        </div>

        <%- include('../partials/footer.ejs') %>