<div class="col-12" style="background-color: rgb(0, 255, 136);">
    <div class="row p-2">
        <div class="col-lg-4  d-flex flex-column">
            <h1 class="p-5">FFSHOP</h1>
            <p style="font-size: small;">Copyright © 2020-2021 ffshop.com.br LTDA.</p>
        </div>
        <div class="col-lg-4 p-2">
            <div class="row p-3 d-flex flex-column">
                <div class="mb-3">MENU</div>
                <div><a href="/" style="color:black;">Home</a></div>
                <div><a href="/mycart" style="color:black;">Carrinho</a></div>
            </div>
        </div>
        <div class="col-lg-4 p-2">
            <p>ENDEREÇO</p>
            <p>Rua Moacir Colognesi - 2211 - JD. Petrópolis - 87506-190</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <p>EMAIL</p>
            <p>flaviofedechenaguiar@gmail.com</p>
        </div>
        <div class="col-lg-4">
            <p>EMAIL</p>
            <p>flaviofedechenaguiar@gmail.com</p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>