<%- include('../partials/header.ejs'); %> 
    <div class="d-flex justify-content-center align-items-center m-100" style="background-color: gainsboro;height: 100vh;">
        <h1>
            Database Error
            <i class='fas fa-database' style='font-size:36px'></i>
        </h1>
        
        <a class="btn ml-2" href="/admin/panel">Home Page</a>
    </div>    
    
<%- include('../partials/footer.ejs'); %>