<%- include('../partials/header.ejs'); %>
    <div class="d-flex justify-content-center align-items-center w-100"
        style="background-color: gainsboro; height: 100vh">
        <h1>
            <strong>404</strong> not found
            <i class='fas fa-coffee' style='font-size:50px'></i>
        </h1>
        
    </div>
    <%- include('../partials/footer.ejs'); %>